.font-headings{
    font-family: "Arvo", serif;
    font-weight: 700;
    font-size: 25px;
}

.font-text{
    font-family: "Forum", serif;
    font-weight: 400;
    font-size: 16px;
}

.font-normal{
    font-family: "Abel", sans-serif;
    font-weight: 400;
}

.font-nav{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.button-one{
    background-color: blue;
    color: yellow;
}

.button-one:hover{
    background-color: rgb(112, 112, 249);
}

.btn-second{
    background-color: rgb(251, 251, 7);
    color: blue;
    border: none;
}

.btn-second:hover{
    background-color: rgb(224, 224, 9);
    color: blue;
    border: none;
}

.btn-third{
    background-color: rgb(250, 44, 44);
    color: black;
    border: none;
}

.btn-third:hover{
    background-color: rgb(211, 4, 4);
    color: white;
    border: none;
}

.hero{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}


@media screen and (max-width: 600px) {
    .services{
        
    }
}